@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'New Amsterdam';
    letter-spacing: 5px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
@font-face {
  font-family: 'New Amsterdam';
  src: url('/fonts/NewAmsterdam-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
